{% extends "base.html.twig" %}
{% block title %}{{ product.title }}{% endblock %}
{% block content %}
    <div class="row">
            <div class="col-4 offset-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{  product.title }}</h5>
                        <p class="card-text">{{ product.country }}</p>
                        {% if product.country != 'FRA' %}
                            <p class="card-text"><b>Original title:</b> {{ product.originalTitle }}</p>
                        {% endif %}
                        <p><b>Description: </b>{{ product.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: {{ product.price}}€</li>
                        <li class="list-group-item">Ranking: {{ product.ranking }}/10</li>
                        <li class="list-group-item">Genre:
                            {% for genre in product.genres %}
                                {{ genre.name }}{% if loop.last == false %}, {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="minus btn btn-outline-primary">-</button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                                    <span class="input-group-btn">
                                        <button type="button" class="plus btn btn-outline-primary">+</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <a href="#" data-id="{{ product.id }}" class="carts btn btn-primary">Add to cart</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
    </div>
{% endblock %}
